/*main section app */
*{
    border: 0;
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns:  2fr 1fr;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer"
    ;
}
header{
    grid-area: header;
}
.title{
    display: flex;
    background: lightcyan;
    height: 150px;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.2);
}
main{
    grid-area: main;
}
.main-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-app{
    -webkit-tap-highlight-color: transparent;
    height: 100px;
    width: 100px;
    margin: 40px;
    display: flex;
    cursor: pointer;
    justify-content: center;
}
/*main section app */
#task-edit-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.task-edit-name{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 22px;
}
.task-edit-name > input {
    border-bottom: 1px solid lightgray;
    border-radius: 5px;
}
.task-edit-datehourlabel{
    margin: 2vh 0 0 0;
    font-size: 22px;
    width: 100%;
}
.task-edit-datehour{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid lightgray;
}
.task-edit-hour{
    font-size: 20px;
}

.task-edit-date{
    font-size: 20px;
    margin-left: 20px;
}
.task-edit-desclabel{
    width: 100%;
    margin: 2vh 0 0.5vh 0;
    font-size: 24px;
}
#task-edit-desc{
    width: 100%;
    padding: 0;
    border: 1px solid lightgray;
    font-size: 22px;
}
.task-edit-btns{
    display: flex;
    width: 100%;
    justify-content: center;
}
.task-edit-btns > button {
    margin: 20px;
    border: 1px solid black;
    padding: 5px;
    width: 50%;
    height: 6vh;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}
#task-edit-alerts{
    margin: 5vh 0 0 0;
}

.task-edit-return{
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    position: fixed;
    bottom: 0;
    left: 0;
}
.task-edit-return > a{
    margin-top: 5vh;
    cursor: pointer;
    font-size: 46px;
    height: 50px;
}
.task-edit-return > a > img {
    width: 50px;
}