@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&family=Roboto:wght@700&display=swap');
/*main section app */
*{
    border: 0;
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns:  2fr 1fr;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer"
    ;
}
header{
    grid-area: header;
}
.title{
    font-family: 'Roboto', sans-serif;
    display: flex;
    background: lightcyan;
    height: 150px;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.2);
}
main{
    grid-area: main;
}
.main-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.btn-app{
    -webkit-tap-highlight-color: transparent;
    height: 100px;
    width: 100px;
    margin: 40px;
    display: flex;
    cursor: pointer;
    justify-content: center;
}
/*main section app */

/*calculator app css*/

.btn-app-calculator{ 
    background-image: url("../pics/calc1.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;
}
.btn-app-calculator > .btn-title{
    margin-top: 95px;
    font-weight: lighter;
    font-size: 14px;
}
.app-title{
    display: none;
}
#calculator-area{
    height: auto;
    flex-wrap: wrap;
    display: flex;
    scroll-behavior: smooth;
    margin-top: 5vh;
    border-bottom: 1px solid #232D3F;
    border-top: 1px solid #232D3F;
    overflow: hidden;
}

.container-calculator{
    height: auto;
    display: none;
    flex-direction: column;
}
#calculator-app{
    width: auto;
    display: grid;
    justify-content: center;
    grid-template-rows: 10fr;
    grid-template-areas: 
    "t1 t2 t3 t4"
    "t5 t5 t5 t5"
    ;
}
#calculator-d-value{
    display: none;
    font-size: 60px;
    width: 100%;
    text-align: right;
    border-bottom: 1px solid #232D3F;
}
.calculatorKeys-quadrant-one{
    grid-area: t1;
}
.calculatorKeys-quadrant-two{
    grid-area: t2;
}
.calculatorKeys-quadrant-three{
    grid-area: t3;
}
.calculatorKeys-quadrant-four{
    grid-area: t4;
}
.calculatorKeys-quadrant-five{
    display: flex;
    flex-direction: row;
    grid-area: t5;
}
.calculator-btn{
    width: 80px;
    height: 80px;
    margin: 5px;
    font-size: 26px;
    border-radius: 30px;
    background: #232D3F;
    color: white;
}
.calculator-clear-btn{
    font-size: 40px;
    color: red;
    width: 260px;
}
.calculator-delete-btn{
    color: red;
}
.calculator-result-btn{
    background: #20d420;
    font-size: 60px;
}
.app-return{
    display: none;
}
.app-return > a{
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    position: relative;
    bottom: 0;
}
.app-return > a > img {
    width: 50px;
}

@media (min-width:280px){
    .calculator-btn{
        width: 90%;
        height: 70px;
        border-radius: 25px;
    }.calculator-clear-btn{
        width: 50%;
    }.calculator-result-btn{
        width: 50%;
    }.app-return > a{
        margin-top: 2vh;
        cursor: pointer;
        font-size: 46px;
        height: 50px;
    }
}
@media (min-width:658px){
    #calculator-app{
     border: 1px solid red;   
    }
    .calculator-btn{
        height: 70px;
        border-radius: 25px;
    }.calculator-clear-btn{
        width: 50%;
    }.calculator-result-btn{
        width: 50%;
    }.app-return > a{
        margin-top: 2vh;
        cursor: pointer;
        font-size: 46px;
        height: 50px;
    }
}

/*calculator app css*/

/*task add css area*/

#task-add-area{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.task-add-name{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 24px;
}
.task-add-name > input {
    border-bottom: 1px solid lightgray;
    border-radius: 5px;
}
.task-add-datehourlabel{
    margin: 2vh 0 0 0;
    font-size: 24px;
    width: 100%;
}
.task-add-datehour{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    margin: 1vh 1vh;
    border-bottom: 1px solid lightgray;
}
.task-datehour-hour{
    font-size: 20px;
}
.task-datehour-date{
    font-size: 20px;
    margin-left: 20px;
}
.task-add-desclabel{
    width: 100%;
    margin: 2vh 0 0.5vh 0;
    font-size: 24px;
}
#task-desc{
    width: 100%;
    padding: 0;
    border: 1px solid lightgray;
    font-size: 22px;
}
.task-add-btns{
    display: flex;
    width: 100%;
    justify-content: center;
}
.task-add-btns > button {
    margin: 20px;
    border: 1px solid black;
    padding: 5px;
    width: 50%;
    height: 6vh;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}
#task-alerts{
    margin: 2vh 0 0 0;
}
.task-add-return{
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    position: fixed;
    bottom: 0;
    left: 0;
}
.task-add-return > a{
    margin-top: 5vh;
    cursor: pointer;
    font-size: 46px;
    height: 50px;
}
.task-add-return > a > img {
    width: 50px;
}


/*task add css area*/

/*task list css area*/

#task-list-area{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5vh;
    width: 100%;
}
.task-list-search{
    display: flex;
    flex-direction: row;
    width: 100%;

}
#task-list-sname{
    width: 100%;
    font-size: 22px;
    border-bottom: 1px solid black;
    border-radius: 5px;
    outline: none;
}
#task-year{
    font-size: 21px;
    border-radius: 10px;
    outline: none;
    text-decoration: none;
}
.task-list-tasks{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}
.task-list-tasks > a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px dotted blanchedalmond;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgb(151, 209, 219,0.7);
    text-decoration: none;
    color: black;
}
.task-list-tasks > a:hover{
    background-color: rgb(151, 209, 219,1);
    color: black;
}
.task-list-tasks > a > h4{
    margin: 10px;
}
.task-list-props{
    font-size: 20px;

}
.task-list-separator{
    width: 1px;
    background: black;
}

#all-tasks-clear{
    padding: 10px;
    border-radius: 5px;
    background: lightgray;
    margin-top: 4vh;
    display: none;
}

.task-list-return{
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    margin-top: 50px;
}
.task-list-return > a{
    margin-top: 2vh;
    cursor: pointer;
    font-size: 46px;
    height: 50px;
}
.task-list-return > a > img {
    width: 50px;
}
.task-list-more-btn{
    display: none;
    margin: 20px;
    border: 1px solid black;
    padding: 10px;
    background: black;
    border-radius: 10px;
    color: white;
}
#empty-alert{
    font-size: 16px;
    color: red;
}

/*math table area*/

#mathTable-area{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
}

.tables{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}
.table{
    padding: 5vh;
    background: lightskyblue;
    border-radius: 2vh;
    font-size: 36px;
    margin-bottom: 5vh;
}

.load-more-tables{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}
.load-more-tables > button{
    padding: 1vh;
    border-radius: 10px;
    background: black;
    color: white;
    cursor: pointer;
}

.math-table-undo{
    padding: 1vh;
    background: rgba(255,255, 255, 0.7);
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 1vh;
}
.math-table-undo > a{
    cursor: pointer;
    font-size: 46px;
}
.math-table-undo > a > img {
    width: 50px;
}

/*math table area*/


/* social media btns */
.btn-app-linkedin{ 
    background-image: url("../pics/link1.png");
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: 70px 70px;
    text-decoration: none;
    color: black;
}
.btn-app-linkedin> .btn-title{
    margin-top: 90px;
    font-weight: lighter;
    font-size: 14px;
}
.btn-app-linkedin:visited{
    color: black;
}
.btn-app-github{ 
    background-image: url("../pics/github.png");
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: 70px 70px;
    color: black;
    text-decoration: none;
}
.btn-app-github:visited{
    color: black;
}
.btn-app-github > .btn-title{
    margin-top: 90px;
    font-weight: lighter;
    font-size: 14px;
}
/*Media Queries*/



























/*task list css area*/

.btn-app-aTask{
    background-image: url("../pics/daily-task.png");
    background-repeat: no-repeat;
    background-position: 15px ;
    background-size: 70px 70px;
}
.btn-app-aTask > .btn-title{
    margin-top: 95px;
    font-weight: lighter;
    font-size: 14px;
}

.btn-app-lTask{
    background-image: url("../pics/task-list.png");
    background-repeat: no-repeat;
    background-position: 15px ;
    background-size: 70px 70px;
}
.btn-app-lTask > .btn-title{
    margin-top: 95px;
    font-weight: lighter;
    font-size: 14px
}

.btn-app-table{
    background-image: url("../pics/table.png");
    background-repeat: no-repeat;
    background-position: 15px ;
    background-size: 70px 70px;
}
.btn-app-table > .btn-title{
    margin-top: 95px;
    font-weight: lighter;
    font-size: 14px;
}

.btn-app-soon{
    background-image: url("../pics/soon.png");
    background-repeat: no-repeat;
    background-position: 15px ;
    background-size: 70px 70px;
}
.btn-app-soon > .btn-title{
    margin-top: 90px;
    font-weight: lighter;
    font-size: 14px;
}

.btn-app-exit{
    background-image: url("../pics/undo.png");
    background-repeat: no-repeat;
    background-position: 15px ;
    background-size: 70px 70px;
}
.btn-app-exit > .btn-title{
    margin-top: 90px;
    font-weight: lighter;
    font-size: 14px;
}

footer{
    grid-area: footer;
}