*{
    border: 0;
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns:  2fr 1fr;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer"
    ;
}
header{
    grid-area: header;
}
.title{
    display: flex;
    background: lightcyan;
    height: 150px;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.2);
}
main{
    grid-area: main;
}
.main-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.btn-app{
    -webkit-tap-highlight-color: transparent;
    height: 100px;
    width: 100px;
    margin: 40px;
    display: none;
    cursor: pointer;
    justify-content: center;
}

/*calculator app css*/
.btn-app-calculator{ 
    background-image: url("../pics/calc1.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;
}
.btn-app-calculator > .btn-title{
    margin-top: 95px;
    font-weight: lighter;
    font-size: 14px;
}
.app-title{
    display: none;
}
#calculator-area{
    height: auto;
    flex-wrap: wrap;
    display: flex;
    scroll-behavior: smooth;
    margin-top: 5vh;
    border-bottom: 1px solid #232D3F;
    border-top: 1px solid #232D3F;
}
.container-calculator{
    height: auto;
    display: none;
    flex-direction: column;
}
#calculator-app{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#calculator-d-value{
    display: none;
    font-size: 60px;
    width: 100%;
    text-align: right;
    border-bottom: 1px solid #232D3F;
}
.calculator-keys{
    border: 1px solid gray;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.calculator-btn{
    width: 80px;
    height: 80px;
    margin: 5px;
    font-size: 26px;
    border-radius: 30px;
    background: #232D3F;
    color: white;
}
.calculator-clear-btn{
    width: 260px;
    font-size: 40px;
    color: red;
}
.calculator-delete-btn{
    color: red;
}
.calculator-result-btn{
    background: #20d420;
    font-size: 60px;
}
.app-return{
    display: none;
}
.app-return > a{
    margin-top: 2vh;
    cursor: pointer;
    font-size: 46px;
    height: 50px;
}
.app-return > a > img {
    width: 50px;
}
/*calculator app css finished*/

/*task add css area*/

#task-add-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5vh;
}
.task-add-name{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 26px;
}
.task-add-name > input {
    border-bottom: 1px solid lightgray;
    border-radius: 5px;
}
.task-add-datehourlabel{
    margin: 2vh 0 0 0;
    font-size: 26px;
    width: 100%;
}
.task-add-datehour{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    margin: 1vh 1vh;
    border-bottom: 1px solid lightgray;
}
.task-datehour-hour{
    font-size: 20px;
}
.task-datehour-date{
    font-size: 20px;
    margin-left: 20px;
}
.task-add-desclabel{
    width: 100%;
    margin: 2vh 0 0.5vh 0;
    font-size: 26px;
}
#task-add-desc{
    width: 100%;
    padding: 0;
    border: 1px solid lightgray;
    font-size: 26px;
}
.task-add-btns{
    display: flex;
    width: 100%;
    margin: 2vh 0 0 0;
    justify-content: center;
}
.task-add-btns > button {
    margin: 20px;
    border: 1px solid black;
    padding: 5px;
    width: 50%;
    height: 6vh;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}


/*task add css area end*/


.btn-app-aTask{
    background-image: url("../pics/daily-task.png");
    background-repeat: no-repeat;
    background-position: 15px ;
    background-size: 70px 70px;
}
.btn-app-aTask > .btn-title{
    margin-top: 95px;
    font-weight: lighter;
    font-size: 14px;
}

.btn-app-lTask{
    background-image: url("../pics/task-list.png");
    background-repeat: no-repeat;
    background-position: 15px ;
    background-size: 70px 70px;
}
.btn-app-lTask > .btn-title{
    margin-top: 95px;
    font-weight: lighter;
    font-size: 14px
}

.btn-app-table{
    background-image: url("../pics/table.png");
    background-repeat: no-repeat;
    background-position: 15px ;
    background-size: 70px 70px;
}
.btn-app-table > .btn-title{
    margin-top: 95px;
    font-weight: lighter;
    font-size: 14px;
}

.btn-app-soon{
    background-image: url("../pics/soon.png");
    background-repeat: no-repeat;
    background-position: 15px ;
    background-size: 70px 70px;
}
.btn-app-soon > .btn-title{
    margin-top: 90px;
    font-weight: lighter;
    font-size: 14px;
}

.btn-app-exit{
    background-image: url("../pics/undo.png");
    background-repeat: no-repeat;
    background-position: 15px ;
    background-size: 70px 70px;
}
.btn-app-exit > .btn-title{
    margin-top: 90px;
    font-weight: lighter;
    font-size: 14px;
}

footer{
    grid-area: footer;
}